.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    color: #887b72;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__button {
    border: 1px solid #f2ebe7;
    background: #f6f6f6;
    color: #f2ebe7;
    font-size: 16px;
    cursor: pointer;
}
