.thanks__content {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thanks__text {
    font-family: "PT Serif", serif;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    font-size: 18vw;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

.thanks__overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.thanks__heading {
    color: #82756a;
    font-size: 25px;
}

.form__button-submit {
    font-family: "PT Serif", serif;
    padding: 10px 20px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756a;
    color: #f2ebe7;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}
